@import 'variables.scss';

/* shared form style */
form {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-weight: 600;
    line-height: 2rem;
    text-transform: uppercase;
  }

  .input-group {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0.5rem auto 3rem;
    width: 100%;
    max-width: 18rem;

    /* input with floating label */
    input {
      display: block;
      border: none;
      border-bottom: 2px solid $placeholder;
      width: 100%;
      padding: 0.75rem 0.625rem 0.375rem;
      font-size: 0.875rem;
      line-height: 1.25rem;
      background-color: transparent;
      appearance: none;

      &:focus,
      &:not(:placeholder-shown) {
        outline: 2px solid transparent;
        outline-offset: 2px;
      }

      &:focus {
        border-color: $main;
      }

      &:focus + label,
      &:not(:placeholder-shown) + label {
        background-color: $light;
        transform: scale(0.85) translateY(-1.5rem);
      }

      &:focus + label {
        color: $main;
      }

      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px $light inset !important;
      }
    }

    label {
      position: absolute;
      top: 0.75rem;
      left: 0;
      padding: 0 0.25rem;
      font-size: 0.875rem;
      color: lightgray;
      background-color: transparent;
      cursor: text;
      transform-origin: 0%;
      transition: all 0.3s;
      user-select: none;
    }

    button {
      position: absolute;
      top: 0.6rem;
      right: 0.75rem;
      color: gray;
      cursor: pointer;

      &:hover {
        color: $main;
      }
    }
  }

  button[type='submit'] {
    box-shadow: $shadow-sm;
    padding: 0.5rem 1rem;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.85rem;

    &:hover {
      color: $main;
      border-radius: 1rem;
      transition: all 0.1s;
    }
  }

  small {
    display: inline-block;
    margin-top: 0.75rem;

    a {
      text-decoration: underline;
      font-weight: 600;
      cursor: pointer;

      &:hover {
        color: $main;
      }
    }
  }
}

/* validation info block */
.validation-info {
  margin: 1.5rem auto;
  max-width: 20rem;
  font-size: 0.6rem;

  &:first-of-type {
    margin-top: 3.5rem;
  }

  span {
    display: inline-flex;
    align-items: center;
    font-size: 0.7rem;
    font-weight: 600;
    text-transform: uppercase;

    .ng-fa-icon {
      width: 1.2rem;
      font-size: 0.9rem;
    }

    /* colors for valid and invalid username and password */
    &.valid {
      color: green;
    }

    &.invalid {
      color: red;
    }
  }

  ul {
    padding-left: 2rem;
  }
}
