/* color palette */
$main: rgb(128, 128, 128);
$main-light: rgb(230, 230, 230);
$dark: rgb(0, 0, 0);
$light: rgb(245, 245, 245);

/* display breakpoints */
$display-xs: 320px;
$display-sm: 480px;
$display-md: 768px;

/* box shadow */
$shadow-sm: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
$shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
