/* color palette */
$light: white;
$mid: #2e2e2e;
$dark: #181818;
$main: #bf8f08;
$placeholder: gray;
$alert-success: #1aaa55;
$alert-error: #db3b21;

/* display breakpoints */
$display-xs: 320px;
$display-sm: 480px;
$display-md: 768px;
