@import '../../../assets/styles/variables.scss';

#playerBar {
  display: flex;
  box-shadow: $shadow-sm;
  height: 4rem;
  padding: 0 1rem;
  background-color: $light;

  hgroup {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0.65rem;
    overflow: hidden;

    > * {
      @media only screen and (max-width: $display-sm) {
        white-space: nowrap;

        /* sliding animation properties */
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);

        -moz-animation: my-animation 12s linear infinite;
        -webkit-animation: my-animation 12s linear infinite;
        animation: my-animation 12s linear infinite;

        /* for Firefox */
        @-moz-keyframes my-animation {
          from {
            -moz-transform: translateX(10%);
          }
          to {
            -moz-transform: translateX(-100%);
          }
        }

        /* for Chrome */
        @-webkit-keyframes my-animation {
          from {
            -webkit-transform: translateX(10%);
          }
          to {
            -webkit-transform: translateX(-100%);
          }
        }

        @keyframes my-animation {
          from {
            -moz-transform: translateX(10%);
            -webkit-transform: translateX(10%);
            transform: translateX(10%);
          }
          to {
            -moz-transform: translateX(-100%);
            -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
          }
        }
      }
    }

    h2 {
      font-weight: 600;
    }

    h3 {
      font-size: 0.85rem;
      font-weight: 400;
    }
  }

  button {
    width: 3.5rem;
    height: 3.5rem;
    margin: auto 0.5rem;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;

    &:hover {
      color: darkgoldenrod;
      box-shadow: $shadow-sm;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;

      &:hover {
        color: inherit;
        box-shadow: none;
      }
    }

    /* font awesome icon */
    > .ng-fa-icon {
      font-size: 1.35rem;

      &:has(.fa-play) {
        margin-left: 0.25rem;
      }
    }
  }

  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;

    > .spinner {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      background: conic-gradient(#0000 10%, $main);
      -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 0);
      animation: spinner-zp9dbg 1s infinite linear;

      @keyframes spinner-zp9dbg {
        to {
          transform: rotate(1turn);
        }
      }
    }
  }
}
