<form [formGroup]="registerForm" (ngSubmit)="submit()">
  <label for="usernameInput">username: </label>
  <input id="usernameInput" type="text" formControlName="usernameInput">
  <div *ngIf=""></div>
  <br><br>
  <label for="passwordInput">password: </label>
  <input id="passwordInput" type="text" formControlName="passwordInput">
  <br><br>
  <button type="submit" [disabled]="!registerForm.valid">register</button>
</form>

<p class="{{ registerForm.controls.usernameInput.status === 'VALID' ? 'valid' : 'invalid' }}">
  <span class="v">v</span>
  <span class="x">x</span>
  &nbsp;
  <span>username:</span>
</p>
<ul>
  <li>should contain 3 - 15 characters</li>
  <li>should not contain spaces</li>
</ul>

<p class="{{ registerForm.controls.passwordInput.status === 'VALID' ? 'valid' : 'invalid' }}">
  <span class="v">v</span>
  <span class="x">x</span>
  &nbsp;
  <span>password:</span>
</p>
<ul>
  <li>should contain 8 - 100 characters</li>
  <li>should contain uppercase and lowercase letters</li>
  <li>should contain at least 1 digit</li>
  <li>should not contain spaces</li>
</ul>
