@import '../styles.scss';

nav {
  display: flex;
  align-items: center;
  padding: .35rem .75rem;

  h1 {
    display: inline-flex;
    align-items: center;
    line-height: 3rem;
    font-weight: 600;
    font-size: 1.1rem;
    letter-spacing: 2.5px;
    user-select: none;
    cursor: pointer;

    .ng-fa-icon {
      margin-right: .5rem;
      font-size: 1.25rem;
    }
  }

  /* nav btn style */
  a[type=button], button {
    display: inline-flex;
    align-items: center;
    margin: 0 .2rem;
    height: 1rem;
    padding: .5rem .6rem;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
    font-size: .85rem;

    &:hover {
      color: darkgoldenrod;
      box-shadow: $shadow-sm;
    }

    /* btn's icon */
    .ng-fa-icon {
      margin-right: .4rem;
      font-size: .75rem;
    }
  }
}
