@import '../../../styles.scss';
@import '../../../assets/styles/variables.scss';

nav {
  display: flex;
  align-items: center;
  padding: .35rem .75rem;

  /* app logo style */
  h1 {
    display: inline-flex;
    align-items: center;
    line-height: 3rem;
    font-weight: 600;
    font-size: 1.1rem;
    letter-spacing: 2.5px;
    user-select: none;
    cursor: pointer;
    white-space: nowrap;

    .ng-fa-icon {
      margin-right: .5rem;
      font-size: 1.25rem;
    }
  }

  /* nav btn style */
  a[type=button], button {
    display: inline-flex;
    align-items: center;
    margin: 0 .2rem;
    height: 1rem;
    padding: .5rem .6rem;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
    font-size: .85rem;

    &:hover {
      color: darkgoldenrod;
      box-shadow: $shadow-sm;
    }

    /* btn's icon */
    .ng-fa-icon {
      font-size: .75rem;

      @media only screen and (max-width: $display-sm) {
        font-size: 1rem;
      }
    }
    
    span {
      display: inline-block;
      margin-left: .4rem;

      @media only screen and (max-width: $display-sm) {
        display: none;
      }
    }
  }
}
