<div class="station">
  <img src="{{ favicon }}" alt="radio icon" (error)="handleIconError($event)" />
  <hgroup>
    <h2>{{ name }}</h2>
    <h3>{{ country }}</h3>
  </hgroup>
  <span class="spacer"></span>

  <!-- fav button -->
  <button *ngIf="user$ | async" class="fav-btn" (click)="this.toggleFavourite()">
    <fa-icon *ngIf="fav; else notFavIcon" [icon]="faStarSolid" class="active"></fa-icon>
    <ng-template #notFavIcon>
      <fa-icon [icon]="faStarRegular"></fa-icon>
    </ng-template>
  </button>

  <!-- load and play btn -->
  <button
    *ngIf="this.url !== (this.url$ | async); else playBtn"
    class="station-play-btn"
    (click)="this.loadAndPlay()"
  >
    <fa-icon [icon]="this.faPlay"></fa-icon>
  </button>

  <ng-template #playBtn>
    <!-- play button -->
    <button class="station-play-btn" (click)="this.play()">
      <fa-icon *ngIf="btnLabel$ | async as btnLabel" [icon]="btnLabel"></fa-icon>
    </button>
  </ng-template>
</div>
