<div class="station">
  <img src={{favicon}} />
  <hgroup>
    <h2>{{name}}</h2>
    <h3>{{country}}</h3>
  </hgroup>
  <span class="spacer"></span>
  <button
    *ngIf="user$ | async"
    class="fav-btn"
    (click)="this.toggleFavourite()"
  >
    <fa-icon *ngIf="fav; else notFavIcon" [icon]="faStarSolid"></fa-icon>
    <ng-template #notFavIcon>
      <fa-icon [icon]="faStarRegular"></fa-icon>
    </ng-template>
  </button>
  <button
    class="load-and-play-btn"
    (click)="playerService.loadAndPlay({
      id: id,
      url:url,
      name: name,
      favicon: favicon,
      country: country
    })"
    [disabled]="this.url === (this.url$ | async)"
  >
    <fa-icon [icon]="this.faPlay"></fa-icon>
  </button>
</div>
