@import '../../../assets/styles/variables.scss';

dialog {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  margin: 1rem auto;
  box-shadow: $shadow-sm;
  width: fit-content;
  min-width: 10rem;
  max-width: 20rem;
  padding: 0.5rem 1rem;
  text-align: center;

  @media only screen and (max-width: $display-sm) {
    max-width: 10rem;
  }

  /* show/hide alert */
  &.shown {
    margin-bottom: 1rem;
    transition: all 0.4s ease-in-out;
  }

  &.hidden {
    margin-bottom: -5rem;
    transition: all 0.4s ease-in-out;
  }
}
