<!-- search stations form -->
<form [formGroup]="searchForm" (ngSubmit)="submit()">
  <input id="searchInput" type="text" formControlName="searchInput" placeholder="" />
  <label for="searchInput">Search station (name, genre...)</label>
  <button type="submit" [disabled]="!searchForm.valid">
    <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
  </button>
</form>

<section>
  <!-- render found stations -->
  <div *ngFor="let station of stations">
    <app-station
      id="{{ station.id }}"
      name="{{ station.name }}"
      url="{{ station.url }}"
      favicon="{{ station.favicon }}"
      country="{{ station.country }}"
    ></app-station>
  </div>
</section>
