@import '../../../styles.scss';

form {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-weight: 600;
    line-height: 2rem;
    text-transform: uppercase;
  }
  
  .input-group {
    position: relative;
    display: flex;
    justify-content: center;
    margin: .5rem auto 3rem;
    width: 100%;
    max-width: 18rem;
  
    input {
      display: block;
      border: none;
      border-bottom: 2px solid lightgray;
      width: 100%;
      padding: .75rem .625rem .375rem;
      font-size: 0.875rem;
      line-height: 1.25rem;
      background-color: transparent;
      appearance: none;
    
      &:focus,
      &:not(:placeholder-shown) {
        border-color: darkgoldenrod;
        outline: 2px solid transparent;
        outline-offset: 2px;
      }
      
      &:focus+label,
      &:not(:placeholder-shown)+label {
        color:darkgoldenrod;
        background-color: white;
        transform: scale(.85) translateY(-1.5rem);
      }
    
      &:-webkit-autofill,
      &:-webkit-autofill:hover, 
      &:-webkit-autofill:focus, 
      &:-webkit-autofill:active {
        /* sprawdzić to miejsce na wszystkich przeglądarkach */
        -webkit-box-shadow: 0 0 0 30px white inset !important;
      }
    }
  
    label {
      position: absolute;
      top: 0.75rem;
      left: 0;
      padding: 0 .25rem;
      font-size: 0.875rem;
      color: lightgray;
      background-color: transparent;
      cursor: text;
      transform-origin: 0%;
      transition: all .3s;
      user-select: none;
    }
    
    button {
      position: absolute;
      top: .6rem;
      right: .75rem;
      color: gray;
      cursor: pointer;
    
      &:hover {
        color: darkgoldenrod;
      }
    }
  }
  
  button[type=submit] {
    box-shadow: $shadow-sm;
    padding: .5rem 1rem;
    // background-color: $light;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
    font-size: .85rem;
  
    &:hover {
      color: darkgoldenrod;
      border-radius: 1rem;
      transition: all .1s;
    }
  }

  small {
    display: inline-block;
    margin-top: .75rem;

    a {
      text-decoration: underline;
      font-weight: 600;
      cursor: pointer;

      &:hover {
        color: darkgoldenrod;
      }
    }
  }
}

.validation-info {
  margin: 1.5rem auto;
  max-width: 20rem;
  font-size: .6rem;

  &:first-of-type {
    margin-top: 3.5rem;
  }

  span {
    display: inline-flex;
    align-items: center;
    font-size: .7rem;
    font-weight: 600;
    text-transform: uppercase;

    .ng-fa-icon {
      width: 1.2rem;
      font-size: .9rem;
    }

    &.valid {
      color: green;
    }

    &.invalid {
      color: red;
    }
  }

  ul {
    padding-left: 2rem;
  }
}
