<!-- register form -->
<form [formGroup]="registerForm" (ngSubmit)="submit()">
  <h2>register</h2>
  <div class="input-group">
    <input id="usernameInput" type="text" formControlName="usernameInput" placeholder="" />
    <label for="usernameInput">username</label>
  </div>

  <div class="input-group">
    <input
      id="passwordInput"
      type="{{ passwordInputType }}"
      formControlName="passwordInput"
      placeholder=""
    />
    <label for="passwordInput">password</label>
    <button type="button" (click)="showPassword()">
      <fa-icon
        *ngIf="this.passwordInputType === 'password'; else eyeSlash"
        [icon]="faEye"
      ></fa-icon>
      <ng-template #eyeSlash>
        <fa-icon [icon]="faEyeSlash"></fa-icon>
      </ng-template>
    </button>
  </div>
  <button type="submit" [disabled]="!registerForm.valid">register</button>

  <small>
    already have an account?
    <a routerLink="/login">login</a>
  </small>
</form>

<!-- valid username info -->
<div class="validation-info">
  <span
    *ngIf="registerForm.controls.usernameInput.status === 'VALID'; else invalidUsername"
    class="valid"
  >
    <fa-icon [icon]="faCheck"></fa-icon>
    username:
  </span>
  <ng-template #invalidUsername>
    <span class="invalid">
      <fa-icon [icon]="faXmark"></fa-icon>
      username:
    </span>
  </ng-template>
  <ul>
    <li>should contain 3 - 15 characters</li>
    <li>should not contain spaces</li>
  </ul>
</div>

<!-- valid password info -->
<div class="validation-info">
  <span
    *ngIf="registerForm.controls.passwordInput.status === 'VALID'; else invalidPassword"
    class="valid"
  >
    <fa-icon [icon]="faCheck"></fa-icon>
    password:
  </span>
  <ng-template #invalidPassword>
    <span class="invalid">
      <fa-icon [icon]="faXmark"></fa-icon>
      password:
    </span>
  </ng-template>
  <ul>
    <li>should contain 8 - 100 characters</li>
    <li>should contain uppercase and lowercase letters</li>
    <li>should contain at least 1 digit</li>
    <li>should not contain spaces</li>
  </ul>
</div>
