@use '../../../assets/styles/variables.scss';

a[type='button'] {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 1rem;
  width: 10rem;
  cursor: pointer;
  font-weight: 400;
  font-size: 0.85rem;

  &:hover {
    color: variables.$main;
  }

  span {
    margin: 0 0.4rem;
  }
}