<nav>
  <a type="button" routerLink="favourites" routerLinkActive="active-link">
    <fa-icon [icon]="faStar"></fa-icon>
    <span>favourites</span>
  </a>
  <a type="button" routerLink="recent" routerLinkActive="active-link">
    <fa-icon [icon]="faClockRotateLeft"></fa-icon>
    <span>recent</span>
  </a>
  <a type="button" routerLink="settings" routerLinkActive="active-link">
    <fa-icon [icon]="faGear"></fa-icon>
    <span>settings</span>
  </a>
</nav>
<router-outlet></router-outlet>
